* {
  box-sizing: border-box;
}
body {
  background-color: rgb(243, 243, 243);
  padding: 60px;
  font-family: "Inter", sans-serif;
}
.page-wrapper {
  overflow: hidden;
  max-width: 375px;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0px 4px 26.4px 0px rgba(128, 128, 128, 0.25);
}
.container {
  max-width: 338px;
  margin: auto;
}
.header {
  color: #fff;
  text-align: center;
  height: 234px;
  padding: 51px 44px;
  border-radius: 0px 0px 30px 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.15),
      rgba(0, 0, 0, 0.6) 100%
    ),
    url(../img/header_bg.png) no-repeat center / cover;
}
.business {
  margin: 0;
}
.publishing {
  font-size: 33px;
  font-weight: 400;
}
.connector {
  font-size: 31px;
  font-weight: 800;
}
.printing {
  font-size: 39px;
  font-weight: 600;
}
.logo-name {
  margin-top: -59px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 6px 25px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  background: rgb(255, 255, 255);
}
.logo {
  border-radius: 50px;
}
.name {
  font-size: 30px;
  font-weight: 300;
  letter-spacing: -3%;
  text-align: left;
}
.card {
  margin-top: 21px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  background: rgb(255, 255, 255);
}
.info {
  padding: 22px 29px 15px 29px;
}
.info-text {
  display: flex;
  align-items: start;
  font-size: 11.5px;
  font-weight: 300;
}
.info-text p {
  margin-top: 0;
  margin-left: 10px;
  margin-bottom: 5px;
}
.slider {
  display: inline-block;
  margin: 0 29px;
  /* justify-content: center; */
}
.info-slider {
  border-radius: 15px;
  overflow: hidden;
}
.dot-selector {
  display: flex;
  justify-content: space-around;
  margin: 9px 74px 15px;
}
.dot {
  width: 6px;
  height: 6px;
  background-color: #d9d9d9;
  border-radius: 50%;
}
.dark {
  background-color: #777777;
}
.full-buttons,
.buttons {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  margin: auto;
}
.buttons {
  flex-direction: row;
  justify-content: space-between;
  gap: 22px;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  height: 33px;
  margin-bottom: 16px;
  width: 100%;
  border-radius: 5px;
}
.feedback {
  justify-content: space-between;
  background: rgb(119, 119, 119);
  padding: 12px 20px;
  font-size: 12px;
  font-weight: 400;
}
.feedback::after,
.vk::after {
  content: ">";
}
.vk {
  justify-content: space-between;
  padding: 12px 20px;
  background: rgb(76, 117, 163);
  font-size: 12px;
  font-weight: 400;
}
.vk img {
  margin-right: 8px;
}
.telegram {
  background: rgb(0, 136, 204);
}
.whatsapp {
  background: rgb(79, 206, 93);
}
.youtube {
  background: rgb(255, 0, 0);
}
